<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameOfShares</title>
    <style>
        /* Add your custom styles here */

        .myValue {
            border: 2px solid black;
            text-align: center;
            font-size: 25px;
        }
        .titleValue {
            font-size: 35px;
        }
        .Company{
            font-size: 25px;
            border: 2px solid black;
            margin-top: 10px;
            padding: 5px;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <h1>Welcome bij Kazou banking</h1>
    
    <!-- Add your content here -->
    
    <script type="module">
        import PocketBase from './pocketbase.es.mjs';
        import { companySharePrice, buyCompanyShare, sellCompanyShare, getUserWithShares } from './stockmarket.js'
        import { createApp } from './petite-vue.es.js'
        
        const pb = new PocketBase('http://127.0.0.1:8090');

        if (pb.authStore.model == null) {
            window.location.replace("/login.html");
        }
      
        let x = createApp({
            // exposed to all expressions
            ShareValue: 111,
            CashValue: 10222,
            currentUser: pb.authStore.model,
            companies: [],
            buying: false,
            selling: false,
            // methods
            async start() {
                let handler = async () => {
                    const companies = await pb.collection('companies').getFullList({
                        sort: '-created',
                    });

                    this.companies = companies; 
                }

                await this.refreshUser();

                setInterval(handler, 1000);
            },
            async refreshUser() {
                let user = await getUserWithShares(pb);
                console.log(user);
                this.currentUser = user;
            },
            numberOfShares(company) {
                let shares = this.currentUser.shares;

                let share = shares.filter(share => share.company == company.id);

                if (share == null || share.length == 0) {
                    return 0;
                } else {
                    return share[0].amount
                }
            },
            shareCompanyPrice(company) {
                return companySharePrice(company)
            },
            async buy(company){
                this.buying = true;
                try {
                    await buyCompanyShare(pb, company)
                    await this.refreshUser();
                } catch (err) {
                    console.log(err);
                }
                this.buying = false;
            },
            async sell(company){
                this.selling = true;
                try {
                    await sellCompanyShare(pb, company)
                    await this.refreshUser();
                } catch (err) {
                    console.log(err);
                }
                
                this.selling = false;
            }
        }).mount();
    </script>
      
        
    <div v-scope>
        <button @click="start()">refresh</button>
        <span class="titleValue">Eigen vermogen</span>
        <p class="myValue">{{ ShareValue }}</p>
        <span class="titleValue">Cash</span>
        <p class="myValue">{{ currentUser.cash }}</p>
        <span class="titleValue">Aandeelmarkt</span>
        <div class="Company" v-for="company in companies">
            <span>{{company.name}}</span>
            <span>{{numberOfShares(company)}}/{{company.totalshares}}</span>
            <span>{{ shareCompanyPrice(company) }} $</span>
            <button v-if="!buying" @click="buy(company)">buy</button>
            <button v-if="buying" disabled>buy</button>
            <button v-if="!selling" @click="sell(company)">sell</button>  
            <button v-if="selling" disabled>sell</button>  
        </div>
    </div>
  
</body>
</html>