<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameOfShares</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <script src="./bootstrap.js"></script>
    <style>
        /* Add your custom styles here */

        .myValue {
            border: 2px solid black;
            text-align: center;
            font-size: 25px;
        }
        .titleValue {
            font-size: 35px;
        }
        .Company{
            font-size: 25px;
            border: 2px solid black;
            margin-top: 10px;
            padding: 5px;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body class="container">
    <h1>Welcome bij Kazou banking</h1>
    
    <!-- Add your content here -->
    
    <script type="module">
        import PocketBase from './pocketbase.es.mjs';
        import { buyCompanyShare, sellCompanyShare, getUserWithShares, getTotalNumberOfSharesForCompany, getCompaniesWithTotalShares } from './stockmarket.js'
        import { createApp } from './petite-vue.es.js'
        
        const pb = new PocketBase('http://127.0.0.1:8090');

        if (pb.authStore.model == null) {
            window.location.replace("/login.html");
        }
      
        let x = createApp({
            // exposed to all expressions
            ShareValue: 111,
            CashValue: 10222,
            currentUser: pb.authStore.model,
            companies: [],
            buying: false,
            selling: false,
            started: false,
            // methods
            async start() {
                this.started = true;
                let handler = async () => {
                    const companies = await getCompaniesWithTotalShares(pb)

                    this.companies = companies; 

                }

                await this.refreshUser();

                setInterval(handler, 1000);
            },
            async refreshUser() {
                let user = await getUserWithShares(pb);
                this.currentUser = user;
            },
            numberOfShares(company) {
                let shares = this.currentUser.shares;

                let share = shares.filter(share => share.company == company.id);

                if (share == null || share.length == 0) {
                    return 0;
                } else {
                    return share[0].amount
                }
            },
            netWorth(){
                let shareWorth = 0;
                for (let i = 0; i < this.companies.length; i++) {
                    let company = this.companies[i];
                        shareWorth = shareWorth + this.numberOfShares(company) * company.shareprice;
                    }
                return shareWorth + this.currentUser.cash    
            },
            shareCompanyPrice(company) {
                return companySharePrice(company)
            },
            async buy(company){
                this.buying = true;
                try {
                    await buyCompanyShare(pb, company)
                    await this.refreshUser();
                } catch (err) {
                    console.log(err);
                }
                this.buying = false;
            },
            async sell(company){
                this.selling = true;
                try {
                    await sellCompanyShare(pb, company)
                    await this.refreshUser();
                } catch (err) {
                    console.log(err);
                }
                
                this.selling = false;
            }
        }).mount();
    </script>
      
        
    <div v-scope>
        <div v-if="started">
            <div class="card mt-4">
                <div class="card-header text-center">
                    <h5>Eigen vermogen</h5>
                </div>
                <div class="card-body text-center">
                    <div>
                        <h4>${{ currentUser.cash.toFixed(2) }}</h4>
                        <span>(Totaal: ${{ netWorth().toFixed(2) }})</span>
                    </div>
                </div>
            </div>


        </div>

        <div class="mt-4">
            <h2>Aandeelmarkt</h2>
        
            <button class="btn btn-primary w-100" @click="start()" v-if="!started">Start Live Trading</button>
            
            <div class="Company" v-for="company in companies">
                <span>{{company.name}}</span>
                <span>{{numberOfShares(company)}}/{{company.totalnumberofshares}}</span>

                <span>{{ company.shareprice.toFixed(2) }} $</span>
                <div class="d-grid gap-2 d-md-block"></div>
                    <button v-if="!buying" @click="buy(company)" class="btn btn-primary btn btn-success ">buy</button>
                    <button v-if="buying" disabled>buy</button>
                    <button v-if="!selling" @click="sell(company)" class="btn btn-primary btn btn-danger">sell</button>  
                    <button v-if="selling" disabled>sell</button>  
                </div>
            </div>
        </div>
        
        
    </div>
  
</body>
</html>