<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameOfShares</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <script src="./bootstrap.js"></script>
    <style>
        /* Add your custom styles here */
    </style>
</head>
<body class="container">
    <h1>Shares per User</h1>
    
    <!-- Add your content here -->
    
    <script type="module">
        import PocketBase from './pocketbase.es.mjs';
        import { createApp } from './petite-vue.es.js'
        
        const pb = new PocketBase('http://127.0.0.1:8090');

        console.log(pb.authStore.model);
      
        createApp({
            // exposed to all expressions
            users: [],
            companies : [],
            async refresh() {
                let users = await pb.collection('users').getFullList()
                let shares = await pb.collection('shares').getFullList()
                let companies = await pb.collection('companies').getFullList()

                users = users.sort((u1,u2) => { return u2.username.localeCompare(u1.username) })

                companies.forEach(company => {
                    company.totalshares = 0
                });

                users.forEach(user => {
        
                    companies.forEach(company => {

                        let myShares = shares.filter(s => s.user == user.id && s.company == company.id);
                        let amount = 0;

                        if (myShares.length > 0) {
                            amount = myShares[0].amount;
                        }

                        user[company.id] = amount;
                        company.totalshares += amount;

                    });

                });
                
                console.log(users);

                this.users = users;
                this.companies = companies;

            }
        }).mount();
    </script>
      
        
    <div v-scope>
        <button class="btn btn-primary w-100" @click="refresh()">Refresh</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col" v-for="company in companies">{{company.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Total Shares</th>
                    <th v-for="company in companies">{{company.totalshares}}</th>
                </tr>
                <tr v-for="user in users">
                    <th scope="row">{{user.username}}</th>
                    <td v-for="company in companies">{{user[company.id]}} <small>({{(user[company.id]*100/company.totalshares).toFixed(1)}} %)</small></td>
                </tr>
            </tbody>
          </table>
    </div>
  
</body>
</html>